/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #777;
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Roboto', Arial, sans-serif;
  font-weight: 150;
  color: #777;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1.15;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 12px;
  margin: 0 0 0 5px;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11px;
}
strong,
b {
  color: #000;
}
a {
  color: #0088cc;
}
a:hover,
a:focus {
  outline: none;
}
small,
.small {
  font-size: 13px;
}
ul,
menu,
dir {
  list-style-type: square;
}
.lead {
  font-size: 15px;
  line-height: 24px;
}
.unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}
/*= HEADER
---------------------------------------------------------------------------------------------- */
.header .navbar {
background: #fff;
}
.header .navbar-nav > li > a {
  font-size: 14px;
  color: #444;
}

/*= SECTIONS
---------------------------------------------------------------------------------------------- */
.section {
  padding: 0px 0;
}
.section.type-1 {
  background: #2a333b;
  color: #a5b3bf;
}
.section.type-1 h1,
.section.type-1 h2,
.section.type-1 h3,
.section.type-1 h4,
.section.type-1 h5,
.section.type-1 h6,
.section.type-1 strong,
.section.type-1 b {
  color: #fff;
}
.section.type-1 h4 {
  color: #a5b3bf;
  border-color: #313b44;
}
.section.type-1 hr {
  border-color: #313b44;
}
.section.type-1 .form-control {
  background: #384048;
  border-color: transparent !important;
  color: #a5b3bf;
  -o-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  /* ...and now override with proper CSS property */

  transition: background-color 0.3s linear;
}
.section.type-1 .form-control:focus {
  background: #fff;
    background: #f0f2f4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 500px;
}
.section.type-0 {
  background: #fff;
}
.section.type-2 {
  background: #f0f2f4;
}
.section.type-3 {
  background: #fff;
}
.section.type-4 {
  background: #f0f2f4;
}
.section.type-5 {
  background: #fff;
}
.section.big {
  height: 50%;
}

.section-headlines {
  margin-top: 60px;
  margin-bottom: 60px;
}
.section-headlines > h2 {
  font-size: 22px;
}
.section-headlines > h4 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  color: #777;
  border-bottom: 2px solid #777;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 35px;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.section-headlines > div {
  line-height: 1.8;
}
/*= SPLASH
---------------------------------------------------------------------------------------------- */
.splash-cover {
  background: #363b48;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 2;
  opacity: 0;
}
.splash-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.splash-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */

}
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 100px 0;
}
/*= JUMPER
---------------------------------------------------------------------------------------------- */
.jumper {
  height: 0;
  position: relative;
  top: -50px;
}
/*= WORK
---------------------------------------------------------------------------------------------- */
.work-thumb {
  display: block;
}
.work-content {
  background: #fff;
  padding: 15px;
}

/*= SOCIAL LINKS
---------------------------------------------------------------------------------------------- */
.person .person-avatar {
  margin-right: 20px;
}

.avatar { width:100px;}
.client { width:100px;}
.ullink {margin-top: 10px; height:30px;}
/*= SOCIAL LINKS
---------------------------------------------------------------------------------------------- */
.social-links {
  font-size: 30px;
}
.social-links.size-big {
  font-size: 40px;
}
.social-links a {
  color: #aaa;
  text-decoration: none !important;
}
.social-links a:hover {
  color: #84c225  ;
}
/*= BOOTSTRAP OVERWRITE: ACCORDIANS
---------------------------------------------------------------------------------------------- */
.panel-group .panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel-group .panel + .panel {
  border-top: 1px solid #eee;
  margin-top: 0;
  padding-top: 10px;
}
.panel-group .panel-heading {
  padding: 0 0 10px;
}
.panel-group .panel-body {
  padding: 5px 0 15px;
  border-top: 0 !important;
}
.panel-title {
  font-size: 18px;
}
.panel-title a {
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}
.panel-title a i {
  color: #bbb;
  font-size: 14px;
  height: 23px;
  line-height: 23px;
  float: left;
  margin-right: 10px;
  width: 20px;
  text-align: center;
}
.panel-title a .icon-minus {
  display: none;
}
.panel-title a.collapsed .icon-minus {
  display: block;
}
.panel-title a.collapsed .icon-plus {
  display: none;
}

#success{
	width: 100%;
	padding: 10px;
	text-align: center;
	color: green;
	display:none;
}
#error{
	width: 100%;
	padding: 10px;
	text-align: center;
	color: red;
	display:none;
}

.list-lang {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  padding-top: 20px;
  padding-left: 15px;
}

.list-lang a,
.list-lang a:hover {
    color: #000;
    text-decoration: none;
}

.list-lang a:hover {
    color: #444;
}

.list-lang li.active {
    background-color: #444;
}

.list-lang li.active a {
    color: #fff;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 0px 15px;
  font-size: 18px;
  line-height: 20px;
}

.jumbotron {
  padding: 0;
    color: #66CC66;
    background-color: #000;
}

.jumbotron h1 {
  /*padding right: 20px;*/
  padding-top: 15%;
  font-weight: 10;
  font-family: 'Dosis', Arial, sans-serif;
}

.cell {
  padding-bottom: 30px;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto 0;*/
}

/*= FOOTER
---------------------------------------------------------------------------------------------- */
#footer {
  background: #242b32;
  color: #a5b3bf;
  font-size: 13px;
  height:20px;
  padding-top:2px;
  padding-bottom: 2px ;
  text-align: center;
}
